.contagem {
  .valores {
    font-size: font(60);
    color: $text-principal;
    letter-spacing: 5px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @include mq(500) {
      font-size: font(50);
    }
  }

  .inputs {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;

    span {
      font-size: font(14);
    }

    input {
      width: 70px;
      padding: 5px 10px;
      border: 1px solid $det-escuro;
      margin: 6px 0 6px 15px;

      &:disabled {
        background-color: $det-disabled;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}
