.cronometro {
  .valores {
    font-size: font(60);
    color: $text-principal;
    letter-spacing: 5px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    @include mq(500) {
      font-size: font(50);
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}
